@import "../../../style/abstracts/variables";

.sidebar {
  width: 250px;
  height: 100vh;
  background: #29292b38;
  z-index: 1;
  transition: all .1s ease-out;

  .nav-link {
    white-space: nowrap;
  }
  .nav-link .text {
    white-space: nowrap;
  }

  &.not-active {
    & {
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 70px;
    }

    .menu {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .nav-link {
      display: flex;
      justify-content: center;
      padding: 15px 0;
      border: none;

      img.icon {
        margin: 0;
      }
    }

    .nav-link.active {
      border: none;
    }

    .nav-link .text {
      display: none;
    }
  }
}

.flexible-modal {
  position: absolute;
  z-index: 1000 !important;
  //border: 1px solid #ccc;
  background: white;
  border: none !important;
}

.flexible-modal-mask {
  position: fixed;
  height: 100%;
  background: rgba(51, 51, 46, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flexible-modal-resizer {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  margin: 5px;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
}

.flexible-modal-drag-area {
  background: rgba(14, 18, 24) !important;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: move;

}

.my-modal-custom {
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: $color-primary;
    position: relative;
    z-index: 1000;
    pointer-events: none;
    margin-bottom: 0;
  }

  .btn-close-1 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 0;
    z-index: 1000;
    cursor: pointer;

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after, &::before {
      content: "";
      width: 20px;
      height: 2px;
      background: white;
      display: block;
      position: absolute
    }
  }

  .body {
    height: calc(100% - 50px);

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}
